@font-face {
    font-family: 'Freshman';
    /*src: url('/font/Freshman.woff') format('woff'),*/
    src: url('/font/Freshman.ttf') format('truetype');
    /*src: url('/font/Freshman.ttf') format('truetype');*/
}

body {
    height: 100%;
}

a {
    color: #550000;
}

a:hover, a:focus {
    color: #d00000;
}

h1, h2, h3{
    font-family: 'Freshman','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.h2, h2 {
    font-size: 22px;
}
.h3, h3 {
    font-size: 18px;
}

p {
    margin: 0 0 12px;
}

#header {
    width: 100%;
    height: 50vh;
    min-height: 300px;
    max-height: 550px;
    background: url(/img/banner.jpg) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;

    transition: height .5s ease-in-out, min-height .5s ease-in-out;
}

#header.reduced {
    height: 20vh;
    min-height: 150px;
}

#header.reduced h1.title {
    font-size: 45px;
    margin-top: 20px!important;
}

@media (max-width: 991px) {
    #header.reduced h1.title {
        font-size: 28px!important;
        margin-top: 40px!important;
    }
}

#header .logo {
    display: block;
    width: 100%;
    height: 100%;
    background: url(/img/logo.png) no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}


.sonata-page-top-bar {
    margin-top: 50px;
}

@media (max-width: 991px) {
    h1.title {
        font-size: 46px!important;
        margin-top: 80px!important;
    }
}

h1.title {
    margin-top: 20vh;
    font-size: 56px;
    text-align: center;

    color: #211;

    -moz-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;

    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;

    transition: font-size .5s ease-in-out, margin-top .5s ease-in-out;
}

#menu {
    position : fixed;
    margin-left: -15px;
    margin-right: -15px;
    width: 100%;
    z-index: 100;
    opacity: 0.95;
}

#menu:hover {
    opacity: 1;
}

.header-content, .header-content > div, .header-content img{
    height: 100%;
}

#menu .navbar-brand {
    padding-top: 2px;
    padding-bottom: 2px;
}

#menu h2.navbar-brand {
    margin-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
}

#menu .navbar-brand a:focus, #menu .navbar-brand a:hover,
h1 a:focus, h1 a:hover,
h2 a:focus, h2 a:hover,
h3 a:focus, h3 a:hover {
    text-decoration: none;
}

#menu a {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

#menu .glyphicon-menu-hamburger {
    font-size: 22px;
}

#menu .navbar-brand img{
    height: 100%;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

#menu.affix-top {
    background-color: transparent;
    border: none;
}
#menu.affix-top .icon-bar {
    background-color: white;
}

#menu.affix-top a{
    color: white;
    text-shadow: 0px 0px 3px rgba(0,0,0, 0.9);
    background-color: transparent;
    border: none;
    font-weight: bold;
    padding: 8px 5px 7px 5px;
    margin: 7px 5px 7px 5px;
}
#menu.affix-top a:hover{
    border-bottom: 1px solid white;
}

#menu.affix-top .dropdown-menu li,#menu.affix-top .dropdown-menu {
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-weight: bold;
}

#menu.affix-top .navbar-brand{
    display: none;
}

#menu.affix-top .navbar-left {
    float: right;
}

#main-contents {
    min-height: 75vh;
}

.content {
    margin-top: 15px;
}

.home_center {
    padding-left: 15px;
    padding-right: 15px;
}

.bottom-section {
    background-color: #DDD;
}

.panel-heading h1, .panel-heading h2, .panel-heading h3, .well h3 {
    margin-top: 0px;
}

.sonata_breadcrumb .breadcrumb {
    font-weight: bold;
    border-radius: 0px;
    background-color: transparent;
    margin-bottom: 0px;
}

.sonata_breadcrumb .breadcrumb li:first-child a:first-child:before {
    content:"\e021";
    font-family:"Glyphicons Halflings";
    line-height:1;
    margin-left:5px;
    margin-right:7px;
    display:inline-block;
}

.breadcrumb-container, #footer {
    background-color: #200;
    color: white;

}

.sonata_breadcrumb .breadcrumb a, #footer a {
    color: white;
    font-weight: bold;
}

#footer {

    min-height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer ul {
    list-style: none;
}

#footer span {
    display: inline-block;
    width: 16px;
    margin-right: 2px;
}


.recent_posts {
    margin-bottom: 10px;
}

.recent_posts article {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.recent_posts article:last-of-type {
    border-bottom: none;
    padding-bottom: 5px;
}

.recent_posts article h3 {
    display: inline;
    font-size: 16px;
}

.recent_posts article .contents {
    margin-top: 10px;
}

/* Menu collapsing point change */
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}