{% extends "SonataPageBundle::base_layout.html.twig" %}

{% block sonata_page_container %}
    <div class="breadcrumb-container">
        <div class="container">
            <div class="sonata_breadcrumb">
                <ol class="breadcrumb">
                    <li class=""><a href="/">Accueil</a><div class="sonata_breadcrumb"></div></li>
                    <li class=""><a href="/contact">Contact</a><div class="sonata_breadcrumb"></div></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Contact</h1>
        {% block contact_contents %}{% endblock %}
    </div>
{% endblock %}