{% extends 'SonataPageBundle::base_layout.html.twig' %}


{% block sonata_page_container %}
    <div class="breadcrumb-container">
        <div class="container">
            {{ sonata_block_render_event('breadcrumb', { 'context': 'news_post', 'post': post, 'current_uri': app.request.requestUri }) }}
        </div>
    </div>

    <div class="container">
        <div class="content">
            <article class="sonata-blog-post-container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <header>
                            <h2 class="sonata-blog-post-title">
                                <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a>
                            </h2>
                            <p>
                                <span class="label label-default"><i class="glyphicon glyphicon-calendar"></i> {{ post.publicationDateStart | format_date }}</span>
                                <span class="sonata-blog-post-author">{{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}</span>
                            </p>

                            <div class="sonata-blog-post-information">
                                <div class="sonata-blog-post-tag-container">
                                    <div class="sonata-blog-post-tag-title">
                                        {% if post.tags|length > 1 %}
                                            <i class="glyphicon glyphicon-tags"></i>
                                        {% else %}
                                            <i class="glyphicon glyphicon-tag"></i>
                                        {% endif %}
                                        {{ 'published_under'|transchoice(post.tags|length, {}, 'SonataNewsBundle') }}
                                    </div>
                                    <div class="sonata-blog-post-tag-list">
                                        {% for tag in post.tags %}
                                            <a href="{{ url('sonata_news_tag', { 'tag': tag.slug } ) }}">{{ tag.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </header>
                    </div>

                    <div class="panel-body">
                        {% media post.image, 'wide' %}
                        {{ post.content|raw }}
                    </div>
                </div>

                <div class="well">
                    {% render(controller('SonataNewsBundle:Post:comments', {'postId': post.id})) %}
                </div>

                {% if post.iscommentable %}
                    {% render(controller('SonataNewsBundle:Post:addCommentForm', {
                        'postId': post.id,
                        'form': form
                    })) %}
                {% else %}
                    <div>
                        {{ 'message_comments_are_closed'|trans({}, 'SonataNewsBundle') }}
                    </div>
                {% endif %}
            </article>
        </div>
    </div>

{% endblock %}