{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock%}
{% block breadcrumb %}{% endblock %}
{% block content %}

    {{ sonata_block_render_event('sonata.admin.dashboard.top', { 'admin_pool': admin_pool }) }}

    {% if blocks.top|length > 0 %}
        <div class="row">
            {% for block in blocks.top %}
                <div class="{{ block.class }}">
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        {% set has_center = false %}

        <div class="{% if blocks.center|length > 0 %}col-md-6{% else %}col-md-12{% endif %}">
            {% for block in blocks.left %}
                {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
            {% endfor %}
        </div>

        {% if blocks.center|length > 0 %}
            <div class="col-md-6">
                {% for block in blocks.center %}
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if blocks.bottom|length > 0 %}
        <div class="row">
            {% for block in blocks.bottom %}
                <div class="{{ block.class }}">
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}



    {{ sonata_block_render_event('sonata.admin.dashboard.bottom', { 'admin_pool': admin_pool }) }}

{% endblock %}
