{% extends 'SonataPageBundle::base_layout.html.twig' %}

{% block sonata_page_container %}
    {%  if page is defined and page.name != 'Accueil' %}
        <div class="breadcrumb-container">
            <div class="container">
                {{ sonata_block_render({ 'type': 'sonata.page.block.breadcrumb'}) }}
            </div>
        </div>
    {% endif  %}

    <div class="container">
        <div class="content">

            {% if page is defined %}
                <div class="row">
                    <div class="col-md-12">
                        {% if page.name != 'global'%}
                            {{ sonata_page_render_container('content_top', 'global') }}
                        {% endif %}
                        {{ sonata_page_render_container('content_top', page) }}
                    </div>
                </div>
            {% endif %}

            <div class="row">
                {% block page_content %}
                    {% if page is defined %}
                        <div class="col-md-6">
                            {% if page.name != 'global'%}
                                {{ sonata_page_render_container('left_col', 'global') }}
                            {% endif %}
                            {{ sonata_page_render_container('left_col', page) }}
                        </div>
                        <div class="col-md-6">
                            {% if page.name != 'global'%}
                                {{ sonata_page_render_container('right_col', 'global') }}
                            {% endif %}
                            {{ sonata_page_render_container('right_col', page) }}
                        </div>
                        <div style="clear: both"></div>
                    {% endif %}
                {% endblock %}
            </div>

            {% if page is defined %}
                <div class="row">
                    <div class="col-md-12">
                        {{ sonata_page_render_container('content_bottom', page) }}

                        {% if page.name != 'global'%}
                            {{ sonata_page_render_container('content_bottom', 'global') }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block sonata_page_breadcrumb %}{% endblock %}
