{% extends 'SonataPageBundle::base_layout.html.twig' %}

{% block sonata_page_container %}
    {%  if page is defined and page.name != 'Accueil' %}
        <div class="breadcrumb-container">
            <div class="container">
                {{ sonata_block_render({ 'type': 'sonata.page.block.breadcrumb'}) }}
            </div>
        </div>
    {% endif  %}

     <div class="container">
        <div class="content">

            {% if page is defined %}
                <div class="row">
                    <div class="col-md-12">
                        {% if page.name != 'global'%}
                            {{ sonata_page_render_container('content_top', 'global') }}
                        {% endif %}
                        {{ sonata_page_render_container('content_top', page) }}
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-12">
                    {% block page_content %}
                        {% if content is defined %}
                            {{ content|raw }}
                        {% else %}
                            {% set content = block('content') %}
                            {% if content|length > 0 %}
                                {{ content|raw }}
                            {% elseif page is defined %}
                                {{ sonata_page_render_container('content', page) }}
                            {% endif %}
                        {% endif %}
                    {% endblock %}
                </div>
            </div>

            {% if page is defined %}
                <div class="row">
                    <div class="col-md-12">
                        {{ sonata_page_render_container('content_bottom', page) }}

                        {% if page.name != 'global'%}
                            {{ sonata_page_render_container('content_bottom', 'global') }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
