{#

This file is part of the Mremi\ContactBundle Symfony bundle.

(c) Rémi Marseille <marseille.remi@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "MremiContactBundle::layout.html.twig" %}

{% trans_default_domain 'MremiContactBundle' %}

{% block title %}{{ 'mremi_contact.confirm_page_title'|trans }}{% endblock %}

{% block contact_contents %}
    <section>
        <h3>{{ 'mremi_contact.confirm_title'|trans({
            '%title%':    contact.titleValue|trans,
            '%fullName%': contact.fullName
        }) }}</h3>
    </section>

    <p>{{ 'mremi_contact.confirm_message'|trans }}</p>
{% endblock %}
