{#

This file is part of the Mremi\ContactBundle Symfony bundle.

(c) Rémi Marseille <marseille.remi@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "MremiContactBundle::layout.html.twig" %}

{% trans_default_domain 'MremiContactBundle' %}

{% form_theme form 'MremiContactBundle:Contact:bootstrap_form_theme.html.twig' %}

{% block title %}{{ 'mremi_contact.form_page_title'|trans }}{% endblock %}

{% block contact_contents %}
    {{ form_start(form, {'action': path('mremi_contact_form')}) }}
        <fieldset>
            {{ form_widget(form) }}
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
