{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends sonata_block.templates.block_base %}

{% block block %}
    {% if settings.title %}
        <h3><i class="glyphicon glyphicon-pencil"></i> {{ settings.title }}</h3>
    {% endif %}
    <div class="recent_posts">
        {% for post in pager.getResults() %}
            <article>
                <div>
                    <span class="label label-default">{{ post.publicationDateStart | format_date }}</span>
                    <h3><a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">
                       {{ post.title }} - {{'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}
                    </a></h3>
                </div>
                <div class="contents">
                    {{ post.content|raw }}
                </div>
            </article>
        {% else %}
            <a class="list-group-item" href="#">{{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}</a>
        {% endfor %}
        <div class="clearfix"></div>

        {% if context.getSetting('mode') == 'admin' %}
            <a href="{{ url('admin_sonata_news_post_list') }}" class="btn btn-default btn-block"><i class="glyphicon glyphicon-list"></i> {{ 'view_all_posts'|trans({}, 'SonataNewsBundle') }}</a>
        {% else %}
            <a href="{{ url('sonata_news_archive') }}" class="btn btn-default btn-block"><i class="glyphicon glyphicon-list"></i> {{ 'view_all_posts'|trans({}, 'SonataNewsBundle') }}</a>
        {% endif %}
    </div>
{% endblock %}
