<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="{{ asset('img/logo-simple.png')}}" alt="Logo ACL"></a>
    <h2 class="navbar-brand"><a href="/">L'Amicale Du Combat Libre</a></h2>
</div>


<div class="navbar-right collapse navbar-collapse">
    <ul id="menuList" class="nav navbar-nav">
        {% for p in pages %}
            <li>
                <a href="{{ p.url }}">
                    {{ p.name }}
                    {% if p.icon is not empty %}
                        <span class="{{ p.icon }}"></span>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>