@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?63b4q8');
	src:url('fonts/icomoon.eot?63b4q8#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?63b4q8') format('truetype'),
		url('fonts/icomoon.woff?63b4q8') format('woff'),
		url('fonts/icomoon.svg?63b4q8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-rss-square:before {
	content: "\f143";
}

