{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box box-primary">
            <div class="box-heading">
                <h3 class="box-title"><i class="glyphicon glyphicon-time"></i> Dernières Actions</h3>
            </div>

        <div class="box-body">

            <div class="row">
                <div class="col-md-12">
                    <ul class="timeline list-unstyled">
                        {% for entry in entries %}

                            {% if currentDay is not defined or currentDay != entry.createdAt|format_date %}
                                {% set currentDay = entry.createdAt|format_date %}
                                <li class="time-label">
                                    <h4 class="bg-info text-center">{{ currentDay }}</h4>
                                </li>
                            {% endif %}

                            {% set subject = entry.getComponent('subject') %}
                            {% set target = entry.getComponent('target') %}
                            {% set target_text_component = entry.getComponent('target_text') %}

                            {% if subject.data %}
                                {% set subject_text = sonata_timeline_generate_link(subject, entry) %}
                            {% else %}
                                {% set subject_text = '<abbr title="reference: ' ~  subject.hash ~ '">element deleted</abbr>' %}
                            {% endif %}

                            {% if target.data is defined and target.data is not empty %}
                                {% set target_text = sonata_timeline_generate_link(target, entry) %}
                            {% elseif target_text_component %}
                                {% set target_text = '<abbr title="Element Deleted">'~target_text_component~'</abbr>' %}
                            {% else %}
                                {% set target_text = '<abbr title="reference: ' ~  target.hash ~ '">element deleted</abbr>' %}
                            {% endif %}

                            {% set verb = "actions."~entry.verb %}
                            {% set icon = "actions.icon."~entry.verb %}

                            <li>
                                <div class="timeline-item">
                                    <p class="timeline-header" style="border-bottom: none;">
                                        <i class="{{ icon|trans({}, "SonataTimelineBundle") }}"></i>
                                        <span class="time label label-default"><i class="glyphicon glyphicon-time"></i> {{ entry.createdAt|format_time }}</span>
                                        {{ verb|trans({'%subject%': subject_text, '%target%': target_text}, "SonataTimelineBundle")|raw }}
                                    </p>
                                </div>
                            </li>
                        {% else %}
                            Pas d'actions pour l'instant...
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
